 
.button-container {
  display: flex;
  justify-content: center;
  margin: 100px 0;
 }

.scroll-button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 120px;
 
 
}


.card {
  width: 300px;
   max-width: 500px;
  height: 350px;
  margin: 3rem;
  /* background-color: #f0f0f0;  */
  padding: 15px;
  /* margin: 10px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:  center;
  font-size: 16px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* transition: transform 0.5s ease,   box-shadow 0.4s  ease-in-out; */
  align-items: center;
  
}
 
 
 

#card1{
  background-image: url('assets/image1.png');
background-size: cover; 
padding: 15px;
}

#card3{
  background-image: url('assets/image2.png');
background-size: cover; 
padding: 15px;

}

#card5{
  background-image: url('assets/image3.png');
background-size: cover; 
padding: 15px;

}

 

 /* .card.active { 
 transform: scale(1.08);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
}   */

/* Responsive Design */
@media (max-width: 600px) {
  .scroll-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .card {
    width: 75%;
    height: 230px;
    font-size: 12px;
    margin: 20px;
    padding: 10px;
    
  }
  

  #card2,#card4,#card6{
    padding: 3px;
    height: 230px;

  }
}
 